.cont {
	display: none;
}

.about-text {
	display: none;
	position: absolute;
	z-index:3;
}

.menu-btn-about {
	border: 0px;
}

body {
	background-color: #0e0340;
}

.menu-btn-about:hover~.about-text {
	display: block;
}

.menu-btn-about:hover~.mist {
	display: block;
	opacity: 0.5;
}

.guide-text {
	display: none;
	position: absolute;
	z-index:3;
}

.menu-btn-guide {
	border: 0px;
}

.menu-btn-guide:hover~.guide-text {
	display: block;
}

.menu-btn-guide:hover~.mist {
	display: block;
	opacity: 0.5;
}

.mist {
	position: absolute;
	z-index:2;
	display: none;
}


.Select-control {
	background-color: #0e0340 !important;
	color: #FFFFFF;
	border: 1px solid #0e0340 !important;
}

.Select-menu-outer {
	background-color: #0e0340;
	color: #2fa4e7;
	border: 1px solid #0e0340;
}

.Select-value-label {
	color: #2fa4e7 !important;
}



